{% extends "base.html" %}
{% block extra_css %}
<link href=/static/global.css rel=stylesheet>
<link href=/static/counting.css rel=stylesheet>
{% endblock %}
{% block content %}
{% set wasm_bin, wasm_js = wasm_urls('counting') %}
<!-- Note the usage of `type=module` here as this is an ES6 module -->
<script type="module">
    import init, {
        current_count,
        display_next_card,
        game_duration,
        get_ls_preferences,
        rust_init,
        set_ls_preferences,
    } from '{{ wasm_js }}';
    async function run() {
        await init();
        get_and_apply_preferences();
    }
    let in_game = false;
    // event id for showing new cards when "interval" training mode is used
    let new_card_interval = 0;
    window.which_train_method = function() {
        let elms = ["train_method_interval", "train_method_manual"];
        for (const elm_id of elms) {
            let elm = document.getElementById(elm_id);
            if (elm.checked) {
                return elm.value;
            }
        }
        return null;
    };
    window.update_displayed_options_fields = function() {
        let get_elm = document.getElementById;
        let train_method = which_train_method();
        if (!train_method) {
            // no method selected, so hide all method-specific options
            document.getElementById("interval").classList.add("hide");
            document.getElementById("interval_label").classList.add("hide");
        } else if (train_method == "interval") {
            document.getElementById("interval").classList.remove("hide");
            document.getElementById("interval_label").classList.remove("hide");
        } else if (train_method == "manual") {
            document.getElementById("interval").classList.add("hide");
            document.getElementById("interval_label").classList.add("hide");
        }
    };
    let animation_is_increasing = true;
    window.update_animation = function() {
        let elm = document.getElementById("animation");
        if (animation_is_increasing && elm.innerText.length == 5) {
            animation_is_increasing = false;
            elm.innerText = elm.innerText.substring(0, elm.innerText.length - 1);
        } else if (!animation_is_increasing && elm.innerText == 0) {
            animation_is_increasing = true;
            elm.innerText += "*";
        } else if (animation_is_increasing) {
            elm.innerText += "*";
        } else {
            elm.innerText = elm.innerText.substring(0, elm.innerText.length - 1);
        }
    };
    window.do_next_card = function() {
        update_animation();
        let animation_elm = document.getElementById("animation");
        if (!display_next_card()) {
            window.clearInterval(new_card_interval);
            let count_elm = document.getElementById("count");
            let cards_elm = document.getElementById("cards");
            count_elm.innerText = "Final running count: " + current_count();
            if (which_train_method() == "manual") {
                count_elm.innerText += ". Duration: " + game_duration().toFixed(1);
            }
            count_elm.classList.remove("hide");
            cards_elm.innerText = " ";
            cards.classList.add("hide");
            animation_elm.innerText = "";
            animation_elm.classList.add("hide");
            document.getElementById("options").classList.remove("hide");
            document.getElementById("button_next").classList.add("hide");
            document.getElementById("animation").classList.add("hide");
            in_game = false;
        }
    };
    window.valid_form_data = function(data) {
        let num_cards = data["num_cards"];
        let num_decks = data["num_decks"];
        let cards_at_a_time = data["cards_at_a_time"];
        let interval = data["interval"];
        let method = data["method"];
        if (num_cards > num_decks * 52) {
            flash_form_error_message(num_cards + " cards > " + num_decks + " decks");
            return false;
        } else if (cards_at_a_time >= num_cards) {
            flash_form_error_message("cards_at_a_time >= num_cards");
            return false;
        } else if (num_cards < 1) {
            flash_form_error_message("num_cards < 1");
            return false;
        } else if (num_decks < 1) {
            flash_form_error_message("num_decks < 1");
            return false;
        } else if (cards_at_a_time < 1) {
            flash_form_error_message("cards_at_a_time < 1");
            return false;
        } else if (interval < 1) {
            flash_form_error_message("interval < 1");
            return false;
        } else if (!method) {
            flash_form_error_message("invalid train method");
            return false;
        }
        return true;
    };
    window.on_button_start = function() {
        // get the options from the form
        let num_decks_elm = document.getElementById("num_decks");
        let num_cards_elm = document.getElementById("num_cards");
        let num_decks = parseInt(
            document.getElementById("num_decks").value);
        let num_cards = parseInt(
            document.getElementById("num_cards").value);
        let cards_at_a_time = parseInt(
            document.getElementById("cards_at_a_time").value);
        let interval = parseInt(
            document.getElementById("interval").value);
        // create a "preference object"
        let data = {
            'num_decks': num_decks,
            'num_cards': num_cards,
            'cards_at_a_time': cards_at_a_time,
            'method': which_train_method(),
            'interval': interval,
        };
        if (!valid_form_data(data)) {
            return;
        }
        // store latest prefs in local storage
        set_ls_preferences(JSON.stringify(data));
        // upload the options to the server
        console.log("Uploading options: ", data);
        let req = new XMLHttpRequest();
        req.addEventListener("error", function(e) {
            flash_error_message("Error uploading options");
        });
        req.addEventListener("abort", function(e) {
            flash_error_message("Aborted upload of options");
        });
        req.addEventListener("load", function(e) {
            if (req.status >= 200 && req.status < 300) {
                //flash_error_message("Uploaded latest options :)");
            } else {
                flash_error_message("Problem uploading latest options");
                console.log(req);
            }
        });
        req.open("POST", "{{ url_for('counting.prefs') }}", true);
        req.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        req.send(JSON.stringify(data));
        // init rust stuff
        let result = rust_init(num_decks, num_cards, cards_at_a_time);
        if (!result) {
            console.log("Could not init rust stuff");
            return;
        }
        // update display
        document.getElementById("options").classList.add("hide");
        document.getElementById("count").classList.add("hide");
        document.getElementById("cards").classList.remove("hide");
        document.getElementById("animation").classList.remove("hide");
        if (which_train_method() == "manual") {
            document.getElementById("button_next").classList.remove("hide");
        } else {
            document.getElementById("button_next").classList.add("hide");
        }
        // set game flag
        in_game = true;
        // start showing cards
        if (which_train_method() == "interval") {
            window.clearInterval(new_card_interval);
            new_card_interval = window.setInterval(() => {
                do_next_card();
            }, interval);
        } else if (which_train_method() == "manual") {
                do_next_card();
        } else {
            console.log(
                "Unknown training method '" + which_train_method() +
                "', so can't start training");
            return;
        }
    };
    window.on_button_next = function() {
        if (!in_game) {
            return;
        }
        do_next_card();
    };
    window.on_button = function(button_name) {
        if (button_name == "start") {
            return on_button_start();
        } else if (button_name == "next") {
            return on_button_next();
        } else {
            console.log("Unknown button name", button_name);
            return;
        }
    };
    window.get_and_apply_preferences = function() {
        function apply(prefs) {
            document.getElementById("num_decks").value = prefs["num_decks"];
            document.getElementById("num_cards").value = prefs["num_cards"];
            document.getElementById("interval").value = prefs["interval"];
            document.getElementById("cards_at_a_time").value = prefs["cards_at_a_time"];
            let train_method = prefs["method"];
            if (train_method == "interval") {
                document.getElementById("train_method_interval").checked = true;
            } else if (train_method == "manual") {
                document.getElementById("train_method_manual").checked = true;
            } else {
                console.log("Unknown training method: " + train_method);
            }
            update_displayed_options_fields();
        }
        // first get preferences from local storage, if possible
        let local_prefs = get_ls_preferences();
        if (local_prefs == "{}") {
            console.log("No local prefs to apply");
        } else {
            console.log("Yes have local prefs. Applying first.");
            apply(JSON.parse(local_prefs));
        }
        // then get latest from server, and on success, use them instead
        let req = new XMLHttpRequest();
        req.addEventListener("error", function(e) {
            flash_error_message("Error fetching saved options");
            console.log(req);
        });
        req.addEventListener("abort", function(e) {
            flash_error_message("Aborted fetching saved options");
            console.log(req);
        });
        req.addEventListener("load", function(e) {
            console.log(req.response);
            apply(req.response);
        });
        req.open("GET", "{{ url_for('counting.prefs') }}", true);
        req.responseType = "json";
        req.send();
    };
    let flash_form_error_message_fade_interval = 0;
    let flash_form_error_message_update_every_ms = 50;
    let flash_form_error_message_duration_ms = 3000;
    window.flash_form_error_message = function(msg) {
        let elm = document.getElementById("form_error");
        elm.textContent = msg;
        // clean up from existing fading, if any
        window.clearInterval(flash_form_error_message_fade_interval);
        flash_form_error_message_fade_interval = 0;
        // start new fading
        let opacity = 1; // initial
        elm.style.opacity = opacity;
        flash_form_error_message_fade_interval = window.setInterval(() => {
            opacity -= flash_form_error_message_update_every_ms / flash_form_error_message_duration_ms;
            elm.style.opacity = opacity;
            if (opacity <= 0) {
                window.clearInterval(flash_form_error_message_fade_interval);
                flash_form_error_message_fade_interval = 0;
            }
        }, flash_form_error_message_update_every_ms);
    };
    let flash_error_message_fade_interval = 0;
    let flash_error_message_update_every_ms = 50;
    let flash_error_message_duration_ms = 3000;
    window.flash_error_message = function(msg) {
        let elm = document.getElementById("error");
        elm.textContent = msg;
        // clean up from existing fading, if any
        window.clearInterval(flash_error_message_fade_interval);
        flash_error_message_fade_interval = 0;
        // start new fading
        let opacity = 1; // initial
        elm.style.opacity = opacity;
        flash_error_message_fade_interval = window.setInterval(() => {
            opacity -= flash_error_message_update_every_ms / flash_error_message_duration_ms;
            elm.style.opacity = opacity;
            if (opacity <= 0) {
                window.clearInterval(flash_error_message_fade_interval);
                flash_error_message_fade_interval = 0;
            }
        }, flash_error_message_update_every_ms);
    };
    document.addEventListener("keydown", key => {
        on_button("next");
    });
    run();
</script>
<div class=error id=error></div>
<p id=count></p>
<p id=animation></p>
<div id=options>
    <form>
        <div class=error id=form_error></div>
        <!-- num decks -->
        <label for=num_decks>Number of decks</label>
        <input type=number id=num_decks value=1 min=1 max=8>
        <br/>
        <!-- num cards -->
        <label for=num_cards>Number of cards to draw</label>
        <input type=number id=num_cards value=52 min=1>
        <br/>
        <!-- cards at a time -->
        <label for=cards_at_a_time>Number of cards at a time</label>
        <input type=number id=cards_at_a_time value=1 min=1 max=10>
        <br/>
        <!-- training method -->
        <i>Training Method:</i>
            <label for=train_method_interval>Interval</label>
            <input type=radio onChange='update_displayed_options_fields();' id=train_method_interval name=train_method value=interval>
            <label for=train_method_manual>Manual</label>
            <input type=radio onChange='update_displayed_options_fields();' id=train_method_manual name=train_method value=manual>
        <br/>
        <!-- interval (if training method "interval") -->
        <label id=interval_label for=interval>Interval between cards (ms)</label>
        <input type=number id=interval value=1000 min=1 max=10000>
        <br/>
        <!-- start button -->
        <a id=button_start onClick='on_button("start")'><i>Start</i></a>
        <br/>
    </form>
</div> <!-- options -->
<div class=card id=cards></div>
<a id=button_next class=hide onClick='on_button("next")'><b>Next</b></a>
{% endblock %}
