.card {
	font-size: 450%;
    line-height: var(--line-height);
    font-family: "DejaVu Sans";
}

label, input {
    display: inline-block;
}

#count {
    font-size: 200%;
}

#animation {
    height: 10px;
    font-size: 150%;
}
