<html>
    <head>
      {% if title %}
      <title>{{ title }} - Blackjack</title>
      {% else %}
      <title>Blackjack</title>
      {% endif %}
      {% if google_analytics_id %}
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ google_analytics_id }}"></script>
      <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '{{ google_analytics_id }}');
      </script>
      {% endif %}
      <meta name=viewport content="width=device-width, initial-scale=1">
      <link href=/static/mvp.css rel=stylesheet>
      <link href=/static/global.css rel=stylesheet>
      {% block extra_css %} {% endblock %}
    </head>
    <body>
    <header>
      <nav>
        <a href='{{ url_for('misc_routes.index') }}'><img alt="BJ logo" id=logo src="/static/logo.png" /></a>
        <ul>
            <li><a href="{{ url_for('misc_routes.index') }}">Home</a></li>
            <li>Train<ul>
                    <li><a href="{{ url_for('basic_strategy.index') }}">Basic Strategy</a></li>
                    <li><a href="{{ url_for('time_trial.index') }}">Time Trial</a></li>
            </ul></li>
	    <li><a href="{{ url_for('misc_routes.faq') }}">FAQ</a></li>
            {% if current_user.is_anonymous %}
            <li><a href="{{ url_for('auth.login') }}">Login</a></li>
            {% else %}
            <li><a href="{{ url_for('profile.index') }}">Profile</a></li>
            <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
            {% endif %}
        </ul>
      </nav>
    </header>
    <main>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </main>
    <footer></footer>
    </body>
</html>
