{% extends "base.html" %}
{% block extra_css %}
<link href=/static/basic-strategy.css rel=stylesheet>
{% endblock %}
{% block content %}
{% set wasm_bin, wasm_js = wasm_urls('basic_strategy') %}
<!-- Note the usage of `type=module` here as this is an ES6 module -->
<script type="module">
    // Use ES module import syntax to import functionality from the module
    // that we have compiled.
    //
    // Note that the `default` import is an initialization function which
    // will "boot" the module and make it ready to use. Currently browsers
    // don't support natively imported WebAssembly as an ES module, but
    // eventually the manual initialization won't be required!
    import init, {
        on_button_hit,
        on_button_stand,
        on_button_double,
        on_button_split,
        on_button_surrender,
        on_button_clear_stats,
        rust_init,
        playstats_as_db_str,
        playstats_db_str_into_storage,
    } from '{{ wasm_js }}';

    {% if current_user.is_authenticated %}
    window.upload_playstats = function() {
        let s = playstats_as_db_str();
        let req = new XMLHttpRequest();
        req.open("POST", "{{ url_for('train_basic_strategy_play_stats') }}", true);
        req.setRequestHeader("Content-Type", "text/plain");
        req.send(s);
    }

    function download_playstats() {
        let req = new XMLHttpRequest();
        req.addEventListener("error", function(e) {
            console.log("Request to fetch latest play stats had error:", e);
        });
        req.addEventListener("abort", function(e) {
            console.log("Request to fetch latest play stats aborted:", e);
        });
        req.addEventListener("load", function(e) {
            console.log("Request completed:", e);
            console.log("Data:", req.responseText);
        });
        req.open("GET", "{{ url_for('train_basic_strategy_play_stats_latest') }}", true);
        req.send();
    }
    {% endif %}

    async function run() {
    // First up we need to actually load the wasm file, so we use the
    // default export to inform it where the wasm file is located on the
    // server, and then we wait on the returned promise to wait for the
    // wasm to be loaded.
    // It may look like this: `await init('./pkg/without_a_bundler_bg.wasm');`,
    // but there is also a handy default inside `init` function, which uses
    // `import.meta` to locate the wasm file relatively to js file
    //
    // Note that instead of a string here you can also pass in an instance
    // of `WebAssembly.Module` which allows you to compile your own module.
    // Also note that the promise, when resolved, yields the wasm module's
    // exports which is the same as importing the `*_bg` module in other
    // modes
    await init();

    {# first argument: type of random, where 0 is draw random cards and 1 is
    choose a random cell weighted by user's Table<PlayStats> #}
    {% if current_user.is_anonymous %}
    rust_init(0);
    {% else %}
    rust_init(1);
    download_playstats();
    {% endif %}
    //let s = playstats_as_db_str();
    //console.log(s);
    //var req = new XMLHttpRequest();
    //req.open("POST", "{{ url_for('train_basic_strategy_play_stats') }}");
    //req.setRequestHeader("Content-Type", "text/plain");
    //req.send(s);
    //playstats_db_str_into_storage(s);
    }

    run();
    window.on_button_hit = on_button_hit;
    window.on_button_stand = on_button_stand;
    window.on_button_double = on_button_double;
    window.on_button_split = on_button_split;
    window.on_button_surrender = on_button_surrender;
    window.on_button_clear_stats = on_button_clear_stats;
    document.addEventListener("keydown", key => {
    if (key.key == "h" || key.key == "H") {
        on_button_hit();  
    } else if (key.key == "s" || key.key == "S") {
        on_button_stand();  
    } else if (key.key == "d" || key.key == "D") {
        on_button_double();  
    } else if (key.key == "p" || key.key == "P") {
        on_button_split();  
    } else if (key.key == "r" || key.key == "R") {
        on_button_surrender();
    }
    });
</script>
Player:<br/>
<span class=card id=player_cards></span><br/>
Dealer:<br/>
<span class=card id=dealer_cards></span><br/>
<div id=buttons>
<a id=button_hit onClick='on_button_hit(); return false;'/><b>Hit</b></a>
<a id=button_stand onClick='on_button_stand(); return false;'/><b>Stand</b></a>
<a id=button_double onClick='on_button_double(); return false;'/><b>Double</b></a>
<a id=button_split onClick='on_button_split(); return false;'/><b>sPlit</b></a>
<a id=button_surrender onClick='on_button_surrender(); return false;'/><b>Surrender</b></a>
</div> <!-- buttons -->
<div id=stats>
Correct: <span id=num_correct>0</span>/<span id=num_seen>0</span><br/>
This hand: <span id=hand_num_correct>0</span>/<span id=hand_num_seen>0</span><br/>
Streak: <span id=num_streak>0</span><br/>
<!--
<a id=button_fetch_stats><i>Fetch stats</i></a>
-->
{% if current_user.is_authenticated %}
<a id=button_upload_stats onClick='upload_playstats(); return false'><i>Upload stats</i></a>
{% endif %}
<a onClick='on_button_clear_stats(); return false;' /><i>Clear stats</i></a>
</div>
<div id=hint>
</div> <!-- hint -->
<div id=strat>
<a onClick='document.getElementById("strat_html").classList.toggle("hide"); return false;' /><i>Show/hide strategy card</i></a>
<br/>
<div id=strat_html></div> <!-- strat_html -->
</div> <!-- strat -->
{% endblock %}
